
@font-face {
    font-family: 'TT Lakes';
    font-weight: normal;
    font-style: normal;
    src: url(TTLakes/TTLakes-Regular.ttf);
}
@font-face {
    font-family: 'TT Lakes';
    font-weight: medium;
    font-style: normal;
    src: url(TTLakes/TTLakes-Medium.ttf);
}
@font-face {
    font-family: 'TT Lakes';
    font-weight: bold;
    font-style: normal;
    src: url(TTLakes/TTLakes-Bold.ttf);
}
* {margin: 0;}
body {
    font-family: 'TT Lakes';
    font-weight: normal;
    background-color: #F8F8F8;
    max-width: 1200px;
    margin: 0 auto;
}
.header {
    background-color: #ffffff;
}
.logo {
    width: 100px;
    height: 53px;
}
.button {
    display: block;
    width: 44px;
    height: 44px;
    padding: 0;
    border: 0;
    cursor: pointer;
    background-color: inherit;
}
/* хэдэр */
.header-menu-wrapper {
    display: flex;
    height: 88px;
    justify-content: flex-end;
    align-items: center;
}
.header-menu-wrapper:first-child {
    margin-left: 16px;
}
.button__image {
    width: 100%;
}
.header__logo {
    margin-right: auto;
    margin-bottom: 5px;
    margin-left: 0;
}
.header__button {
    margin-right: 16px;
}
.divider-not-desctop {
    height: 32px;
    border: 1px solid #EAEAEA;
    border-radius: 1px;
    margin:0 20px 0 16px;
}
.divider-not-desctop--tablet-only {
    display: none;
}
/* навигация*/
.main-page {
    margin-top: 24px;
}
.main-page__title {
    font-size: 28px;
}
.main-page__title::before {
    content: '';
    border: 3px solid #41F6D7;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right: 12px;
}

.main-page__nav {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 24px 16px 0 16px;
    padding: 4px;
    list-style: none;
}
.main-page__nav::-webkit-scrollbar {
    display: none;
}
.nav__button {
    width: auto;
    height: auto;
    flex: 0 0 auto;
    padding: 8px 22px;
    font-family: 'TT Lakes';
    font-size: 16px;
    color: #7E7E82;
}
.nav__button:focus {
    background-color: #ffffff;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}
/* конец стилей навигации */
.main-page__nav-content {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}
.topic {
    font-size: 14px;
    line-height: 18px;
    color: #1B1C21;
}
.main-page__topic {
    margin: 0 16px 16px;
    max-height: 90px;
    overflow: hidden;
}
.read-more {
    margin-left: 16px;
    font-size: 16px;
    line-height: 24px;
    color: #1B1C21;
    text-decoration: none;
}
.read-more::before {
    content: url(icons/expand.svg);
    margin-right: 8px;
    vertical-align: top;
}

.button--not-mobile {
    display: none;
}
.button--desctop {
    display: none;
}
   /* планшеты */
@media (min-width: 768px) {
    .button--not-mobile {
        display: block;
    }
    .divider-not-desctop {
        margin: 0 20px 0 4px;
    }
    .divider-not-desctop--tablet-only {
        display: block;
    }
    .main-page__nav-content {
        flex-direction: row;
        align-items: start;
        margin: 32px 25px 0 9px;
    }
    .nav-content__flex-item {
        flex-basis:200px;
        flex-grow: 1;
    }
    .main-page__topic {
        max-height: 160px;
    }
}
/* десктопы */
@media (min-width: 1120px) {

    .header {
        display: none;
    }
    .title-wrapper {
        display: flex;
        justify-content: space-between;
        margin-right: 32px;
    }
    .button--desctop{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .button--desctop.button__application {
        margin-left: auto;
        margin-right: 150px;
    }
    .title-wrapper__button-text {
        font-family: 'TT Lakes';
        font-weight: normal;
        font-size: 16px;
        flex-basis: 200px;
        white-space: nowrap;
        margin-right: 10px;
    }
    .main-page__nav {
        flex-wrap: wrap;
    }
    
}